.conteeiner{
    margin: 0 auto;
    max-width: 1088px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.main{
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 33px;
}
#btnstyle{
    background-color: blue;
}
#reload{
    width: 90px;
    font-size: 1rem;
    transition: 0.7s ;
    border: none;
    background-color:aquamarine;
    border-radius: 14px;
}
#reload:hover{
    width: 100px;
    height: 30px;
    background-color: bisque;
}
#first-div{
    max-width: 440px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 19px;
    justify-content: center;
    align-items: center;
    gap: 19px;
}
#Random-name{
    font-size: 33px;
}