.conteeiner{
    margin: 0 auto;
    max-width: 1088px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.main{
    display: none;
}
#first-div{
    max-width: 440px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 19px;
    justify-content: center;
    align-items: center;
    gap: 19px;
}
#Random-name{
    font-size: 33px;
}